@keyframes intro{
    from{
        left: -1000px;
    }to{
        left: 50%; 
    }
}
@media (max-height:600px){
    table{scale:0.8;margin: 0;}
    .boton,h1{scale:0.5;margin-top: 0em;}
}
@media (max-height:470px){
    table{scale:0.7;margin: 0;}
    .boton,h1{scale:0.5}
    #tec{scale:0;}
    #tec2{margin-top: -10em;}
}
@media(min-width: 500px){
    @keyframes intro{
        from{
            left: -1000px;
        }to{
            left: 0%; 
        }
    }
}
.contenedor{
    animation: intro 1s;
}