html{
    zoom:0.58;
}

body{
    background-image: url("fondo.jpg");
    background-position: 30%;
    background-size: 3000px 3000px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.contenedor{
    border-radius: 20px;
    padding: 5px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.76);
    margin: 50px auto;
    text-align: center;
}

#Cuadro1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 6px;
    font-size: 20px;
    color: white;
}

#Control1{
    margin: 0px 10px;
    width:30px;
    font-size: 20px;
}

#Lab1{
    margin: 0px 10px;
    width:30px;
    font-size: 20px;
}

#Proyecto1{
    margin: 0px 10px;
    width:30px;
    font-size: 20px;
}

.Cboton{
    width: 400px;
    height: auto;
    text-align: center;
    background-color: rgba(235, 235, 235, 0.384);
    color:white;
    margin: 20px -10px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 35px;
	font-family: "Brush Script MT, Brush Script Std, cursive";
}

#Cuadro2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 6px;
    font-size: 20px;
    color: white;
}

#Presentacion1{
    margin: 0px 10px;
    width:30px;
    font-size: 20px;
}

#Cuadro3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 6px;
    font-size: 20px;
    color: white;
}

#Control2{
    margin: 0px 10px;
    width:30px;
    font-size: 20px;
}

#Lab2{
    margin: 0px 10px;
    width:30px;
    font-size: 20px;
}

.cambio{
    width: 400px;
    height: auto;
    text-align: center;
    background-color: rgba(235, 235, 235, 0.384);
    color:white;
    margin: 10px 110px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 35px;
	font-family: "Brush Script MT, Brush Script Std, cursive";
}

#CalcP{
	margin: 20px 110px;
}

#Notas{
    width: 400px;
	font-size: 25px;
	margin: 10px 105px;
}
