*{margin: 0;padding: 0;}
html{
    scroll-behavior: smooth;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
    user-select: none;
    font-size: 80%;
    overflow-y: hidden;
}
body{
    background-image: url("fondo.jpg");
    background-size: 150vw 200vh;
}
nav{
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
    border: solid;
    border-color: white;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 1000000;
}
ul{
    display: flex;
    list-style: none;
    padding: 1em;
    justify-content: space-around;
}
li a{
    padding: 1em;
    color: white;
    text-align: center;
    text-decoration: none;
}
section{height: 100vh;}
h1{font-size: 20px;margin: 0.8em;}
.contenedor{
    transform: translateX(-50%);
    text-align: center;
    color: white;
    position: relative;
    left: 50vw;
    top: 80px;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.863);
    height: 75vh;
    padding-top: 1em;
    border-radius: 10px;
    display: grid;
    justify-content:space-around;
}
table{
    margin: auto;
}
td{
    background-color: rgb(20, 20, 20);
    padding: 5px;
    border-radius: 5px;
}
input{
    width: 3em;
    text-align: center;
}
.boton{
    background-color:  rgb(53, 53, 53);
    border-radius: 5px; 
    margin: 0.5em auto;
}
.boton:active{
    transform: scale(1.2);
}
@media(min-width: 500px){
    .contenedor{
        width: 490px;
        margin: auto;
        left: 0;
        transform: translateX(0);
    }
    nav{width: 500px;left:50%;translate: -50%;}
}
@media(max-height: 560px){
    h1{margin: 0;font-size: 14px;}
    #tablaRamos{scale:0.7;}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
